body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  border: 0px;
  flex-direction: column;
}
img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.title {
  margin: 0px;
  width: 100%;
  height: 80%;
  position: absolute;
  flex-direction: column;
  font-weight: 600px;
  font-size: 70px;
}
.isolate {
  /* isolation: isolate;
  position: relative; */
}
.subtitle {
  text-align: right;
  z-index: 2;
  padding-right: 2%;
  font-family: Padauk, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.63);
  letter-spacing: -5px;
  opacity: 1;
  mix-blend-mode: color-dodge;
}
.subtitle2 {
  padding-right: 2%;
  text-align: right;
  margin-top: -1.4%;
  z-index: 2;
  font-family: Padauk, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.63);
  letter-spacing: -5px;
  opacity: 1;
  mix-blend-mode: color-dodge;
}
.titlesmall {
  padding-right: 2%;
  text-align: left;
  margin-top: 5.1%;
  margin-left: 2%;
  letter-spacing: -7px;
  font-weight: bold;
  font-size: 120px;
  z-index: 2;
  font-family: Padauk, Helvetica, sans-serif;
  color: black;
}
.titlelarge {
  padding-right: 2%;
  text-align: left;
  margin-top: -6.6%;
  margin-left: 1%;
  letter-spacing: -25px !important;
  font-weight: bold;
  font-size: 350px;
  z-index: 2;
  font-family: Padauk, Helvetica, sans-serif;
  color: black;
}

h1 {
  font-family: SimSun, Helvetica, sans-serif;
  font-size: 100px;
  color: blue;
}
p {
  font-family: SimSun, Helvetica, sans-serif;
  font-size: 40px;
  color: rgb(174, 255, 217);
}
.rightside {
  align-items: end !important;
  display: flex;
  flex-direction: column;
}

a {
  color: rgb(229, 174, 255);
  white-space: nowrap;
}

.dialogue {
  background-color: rgb(99, 71, 255);
  display: flex;
  flex-direction: column;

  padding: 4rem;
  align-items: start;
  position: relative;
  margin-bottom: 1rem;
}
.headerone {
  background-color: rgba(255, 255, 255, 0.842);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
  transform: rotate(2deg);
}
.image {
  background-color: rgba(244, 255, 218, 0.842);
  padding: 50px;
  display: flex;
  height: 50%;
  width: 50%;
  flex-direction: column;
  padding-top: 0px;
  float: center;

  font-size: 4rem;
  font-weight: 800;
  margin-left: 22%;
  margin-top: -3rem;
  margin-bottom: 4rem;
  transform: rotate(-1deg);
}
