* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v30_33 {
    width: 100%;
    height: 14116px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v30_40 {
    width: 100%;
    height: 883px;
    background: url("../images/v30_40.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v30_38 {
    width: 100%;
    height: 809px;
    background: url("../images/v30_38.png");
    opacity: 1;
    position: absolute;
    top: 569px;
    left: 81px;
    border: 3px solid rgba(255,255,255,1);
  }
  .v30_41 {
    width: 100%;
    color: rgba(255,255,255,0.5400000214576721);
    position: absolute;
    top: 0px;
    left: 246px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 150px;
    opacity: 1;
    text-align: right;
  }
  .v30_56 {
    width: 100%;
    color: rgba(255,255,255,0.5400000214576721);
    position: absolute;
    top: 100px;
    left: 381px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 150px;
    opacity: 1;
    text-align: right;
  }
  .v30_57 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 481px;
    left: 0px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 180px;
    opacity: 1;
    text-align: right;
  }
  .v30_59 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 508px;
    left: 204px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 380px;
    opacity: 1;
    text-align: right;
  }
  .v30_60 {
    width: 100%;
    color: rgba(255,46,46,1);
    position: absolute;
    top: 508px;
    left: 204px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 380px;
    opacity: 1;
    text-align: right;
  }
  .v30_61 {
    width: 776px;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 1206px;
    left: 111px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v30_68 {
    width: 100%;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 2185px;
    left: 116px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v30_69 {
    width: 932px;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 2480px;
    left: 724px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v30_62 {
    width: 776px;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 1356px;
    left: 762px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v40_111 {
    width: 100%;
    height: 387px;
    background: url("../images/v40_111.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1725px;
    left: 53px;
    overflow: hidden;
  }
  .v30_67 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1566px;
    left: 116px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 96px;
    opacity: 1;
    text-align: left;
  }
  .v30_64 {
    width: 100%;
    color: rgba(249,0,134,1);
    position: absolute;
    top: 1903px;
    left: 116px;
    text-shadow: 0px 4px 4px rgba(0.9830000400543213, 0.1499999761581421, 1, 0.25);
    font-family: Padauk;
    font-weight: Bold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v30_71 {
    width: 100%;
    height: 424px;
    background: linear-gradient(rgba(249,75,221,1), rgba(75,214,249,0));
    opacity: 1;
    position: absolute;
    top: 2656px;
    left: 116px;
    overflow: hidden;
  }
  .v30_70 {
    width: 365px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2709px;
    left: 192px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v30_72 {
    width: 515px;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 2737px;
    left: 1084px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v30_74 {
    width: 100%;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 3812px;
    left: 116px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v30_75 {
    width: 100%;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 4135px;
    left: 456px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v30_77 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3236px;
    left: 116px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 96px;
    opacity: 1;
    text-align: left;
  }
  .v30_87 {
    width: 100%;
    height: 424px;
    background: url("../images/v30_87.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4524px;
    left: 116px;
    overflow: hidden;
  }
  .v30_79 {
    width: 100%;
    height: 424px;
    background: linear-gradient(rgba(9,196,255,1), rgba(75,214,249,0));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v30_80 {
    width: 365px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 53px;
    left: 64px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v30_81 {
    width: 702px;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 81px;
    left: 781px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v30_86 {
    width: 376px;
    height: 100%;
    background: url("../images/v30_86.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3741px;
    left: 0px;
    transform: rotate(-90deg);
    overflow: hidden;
  }
  .v30_78 {
    width: 100%;
    color: rgba(255,0,137,1);
    position: absolute;
    top: 3396px;
    left: 116px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v30_97 {
    width: 100%;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 5814px;
    left: 116px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v30_98 {
    width: 100%;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 6109px;
    left: 609px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v30_99 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5134px;
    left: 116px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 96px;
    opacity: 1;
    text-align: left;
  }
  .v30_100 {
    width: 100%;
    height: 424px;
    background: url("../images/v30_100.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6385px;
    left: 116px;
    overflow: hidden;
  }
  .v30_101 {
    width: 100%;
    height: 424px;
    background: linear-gradient(rgba(255,199,55,1), rgba(75,214,249,0));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v30_102 {
    width: 365px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 53px;
    left: 64px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v30_103 {
    width: 702px;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 81px;
    left: 781px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v30_107 {
    width: 100%;
    height: 420px;
    background: url("../images/v30_107.png");
    opacity: 1;
    position: absolute;
    top: 5290px;
    left: 159px;
  }
  .v30_105 {
    width: 100%;
    color: rgba(223,255,30,1);
    position: absolute;
    top: 5333px;
    left: 116px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v30_109 {
    width: 450px;
    color: rgba(223,255,30,1);
    position: absolute;
    top: 5483px;
    left: 1284px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v40_112 {
    width: 100%;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 7690px;
    left: 124px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v40_113 {
    width: 100%;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 7985px;
    left: 617px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v40_114 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7010px;
    left: 124px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 96px;
    opacity: 1;
    text-align: left;
  }
  .v40_115 {
    width: 100%;
    height: 424px;
    background: url("../images/v40_115.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8261px;
    left: 124px;
    overflow: hidden;
  }
  .v40_116 {
    width: 100%;
    height: 424px;
    background: linear-gradient(rgba(55,255,111,1), rgba(75,214,249,0));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v40_117 {
    width: 365px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 53px;
    left: 64px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v40_118 {
    width: 702px;
    color: rgba(232,233,243,1);
    position: absolute;
    top: 81px;
    left: 781px;
    font-family: Padauk;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v40_123 {
    width: 100%;
    height: 410px;
    background: url("../images/v40_123.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7160px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v40_125 {
    width: 100%;
    height: 104px;
    background: rgba(56,255,195,1);
    opacity: 1;
    position: absolute;
    top: 7284px;
    left: 116px;
    overflow: hidden;
  }
  .v40_126 {
    width: 289px;
    height: 104px;
    background: rgba(56,255,195,1);
    opacity: 1;
    position: absolute;
    top: 7388px;
    left: 1187px;
    overflow: hidden;
  }
  .v40_120 {
    width: 100%;
    color: rgba(255,30,165,1);
    position: absolute;
    top: 7209px;
    left: 124px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v40_121 {
    width: 450px;
    color: rgba(255,30,165,1);
    position: absolute;
    top: 7365px;
    left: 1284px;
    font-family: Padauk;
    font-weight: Bold;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  